body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    line-height: 30px;
    color: #464646;
    background-color: #ffffff;
}


a {
    text-decoration: none;
}  


.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.main-header {
    width: 1160px;
    /*height: 299px;*/
    background-color: rgba(240, 197, 46, 0.5);
    color: #000000;    
}

.header-device-logo img:hover,
.header-device-logo img:focus,
.footer-device-logo img:hover,
.footer-device-logo img:focus{
    opacity: 0.5;
}

.header-device-logo img:active,
.footer-device-logo img:active{
    opacity: 0.3;
}

.search-area-form p:hover,
.search-area-form p:focus{
    opacity: 0.6;
}

.main-navigation ul {
    list-style: none;
    color: #000000;
}

#search-area {
    background-color: transparent;
    border: none;
}


button,
a {
    border: none;
    background-color: transparent;
}

/*.user-navigation button:focus,
.user-navigation button:hover{
    opacity: 0.6px;
}*/


.catalogue-navigation button,
.site-navigation a {
    color: #000000;    
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    line-height: 24px;
    text-transform: uppercase;  
}


.slider-item {
    list-style: none;
}


.slider-item h2 {
    color: #000000;
    font-family: 'Gilroy';
    font-weight: 800;
    font-size: 47px;
    line-height: 56px;
}


.slider-item button{
    font-family: 'Gilroy';
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    color: #000000;  
    background-image: url("../files/More2.png");
    background-repeat: no-repeat;  
    background-size: 220px 8px;
    background-position: center;
    padding-left: 43px; 
    padding-right: 43px;
}


.slider-item button:hover,
.slider-item button:focus{
    background-size: 220px 40px;
}

.slider-item button:active{
    color: rgba(0, 0, 0, 0.3);
}

.description-list dd{
    font-family: "Gilroy";
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
}

.popular-list{
    list-style: none;
}

.popular-list-item img{
    background-color: rgba(240, 197, 46, 0.5);
    background-size: 160px 160px;
    background-position: center;
    background-repeat: no-repeat;  
}

.popular-list-item img:focus,
.popular-list-item img:hover{
    background-color: rgb(240, 197, 46);    
    background-size: 160px 160px;
    background-position: center;
    background-repeat: no-repeat;    
}

.popular-list-item a{
    font-family: 'Gilroy';
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.popular-list-item:active{
    opacity: 0.5;
}

.virtual-reality{
    padding-bottom: 53px;  
    padding-top: 52px;
    padding-left: 31px;
    padding-right: 32px;
}

.selfie-stick {
    padding-bottom: 0px;  
    padding-top: 43px;
    padding-left: 38px;
    padding-right: 36px;
}

.action-camera {
    padding-bottom: 35px;  
    padding-top: 38px;
    padding-left: 49px;
    padding-right: 40px;
}

.fitness-whristband {
    padding-bottom: 45px;  
    padding-top: 50px;
    padding-left: 28px;
    padding-right: 25px;
}

.smart-watch {
    padding-bottom: 30px;  
    padding-top: 32px;
    padding-left: 55px;
    padding-right: 49px;
}

.quadrocopter {
    padding-bottom: 42px;  
    padding-top: 49px;
    padding-left: 13px;
    padding-right: 15px;
}

.services {
    background-color: rgb(229, 229, 229);
}

.services-list-item button{
    font-family: 'Gilroy';
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    text-transform: uppercase;
    background-image: url("../files/More2.png");
    background-repeat: no-repeat;  
    background-size: 160px 8px;
    background-position: center;
    padding-left: 25px; 
    padding-right: 25px;
}

.services-list-item button:hover,
.services-list-item button:focus{
    background-size: 160px 40px;
}

.services-list-item button:active {
    color: rgb(247, 225, 132);
    background-size: 278px 40px;
    background-image: none;
    background-color: #000000;
    padding-right: 143px;
}

.services-title {
    font-family: 'Gilroy';
    font-size: 47px;
    font-weight: 800;
    line-height: 48px;
    color: #000000;
}

.logotypes ul,
.services ul{
    list-style: none;
}

.partners-list-item1 div{
    background-image: url(../files/logo-1.jpg.png);
    background-size: 260px 100px;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 260px;
    height: 94px;
}

.partners-list-item1 div:focus,
.partners-list-item1 div:hover{
    background-image: url(../files/logo-1.jpg\ color.png);
}

.partners-list-item2 div:focus,
.partners-list-item2 div:hover{
    background-image: url(../files/logo-2color.jpg);
}

.partners-list-item3 div:focus,
.partners-list-item3 div:hover{
    background-image: url(../files/logo-3.jpg\ copy.jpg);
}

.partners-list-item4 div:focus,
.partners-list-item4 div:hover{
    background-image: url(../files/logo-4.jpg\ copy.jpg);
}

.partners-list-item2 div{
    background-image: url(../files/logo-2.jpg.png);
    background-size: 260px 100px;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 260px;
    height: 94px;
}

.partners-list-item3 div{
    background-image: url(../files/logo-3.jpg.png);
    background-size: 260px 100px;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 260px;
    height: 94px;
}

.partners-list-item4 div{
    background-image: url(../files/logo-4.jpg.png);
    background-size: 260px 100px;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 260px;
    height: 94px;
}

.info h2,
.contact h2{
    color: #000000;
    font-family: 'Gilroy';
    font-weight: 800;
    font-size: 47px;
    line-height: 48px;
}

.info-list li{
    /*list-style:*/
    color: #000000;
    font-family: 'Gilroy';
    font-weight: 800;
    font-size: 16px;
    line-height: 40px;    
}

.info button,
.contact button{
    font-family: 'Gilroy';
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    text-transform: uppercase;
    background-image: url("../files/More2.png");
    background-repeat: no-repeat;  
    background-size: 260px 8px;
    background-position: center;
    padding-left: 23px; 
    padding-right: 22px;
}

.info button:hover,
.info button:focus,
.contact button:hover,
.contact button:focus{
    background-size: 260px 40px;
}

.info button:active,
.contact button:active{
    color: rgba(0, 0, 0, 0.3);
}

footer{
    background-color: #464646;
    width: 1440px;
    height: 323px;
}

.footer-shopping button{
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.15px;
}

.footer-navigation-item a{
    color: #ffffff;
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.6px;
}

.number,
.adress{
    color: #ffffff;
}

.catalogue-popup{
    background-color: rgb(247, 226, 150);
    width: 1160px;
    height: 129px;
}

.catalogue-popup-list{
    list-style: none;
}

.catalogue-popup-list-item a{
    text-decoration: none;
    color: #000000;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.15px;
}



/*.user-form form{
    width: 960px;
    height: 553px;
}*/



.catalogue-page-title{
    color: #000000;
    font-family: 'Gilroy';
    font-size: 47px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0.47px;
}

.catalogue-page-navigation-list{
    list-style: none;
}

.catalogue-page-navigation-list-item a{
    color:rgba(0, 0, 0, 0.3);
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.14px;
}

.catalogue-page-sort h2,
.catalogue-page-section-filter h2{
    color: #000000;
    font-family: 'Gilroy';
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
}

.catalogue-page-sort p{
    color:#000000;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;    
}

.catalogue-page-section-filter{
    background-color: #eeeeee;
    width: 468px;
    /*height: 1287px;*/
}

.catalogue-page-section-filter fieldset{
    border-style: none;
}

.catalogue-page-section-filter legend{
    color: #000000;
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.18px;    
}

.catalogue-page-color-filter ul,
.catalogue-page-bluetooth-filter ul{
    list-style: none;
}

.filter-checkbox-color{
    color: #000000;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0.14px;
}

.catalogue-page-section-filter-form button{
    color: #000000;
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    background-image: url("../files/More2.png");
    background-repeat: no-repeat;  
    background-size: 200px 8px;
    background-position: center;
    padding-left: 42px; 
    padding-right: 41px;
}

.catalogue-page-section-filter-form button:hover,
.catalogue-page-section-filter-form button:focus{
    background-size: 200px 40px;
}

.catalogue-page-section-filter-form button:active{
    opacity: 0.5;
}

.catalogue-page-product figcaption{
    color:#000000;
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
}

.catalogue-page-product-price {
    color: #464646;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 300;    
}

.catalogue-page-bottom{
    background-color: #eeeeee;
    width: 760px;
    /*height: 70px;*/
}

.catalogue-page-bottom button a{
    color: #000000;
    font-family: 'Gilroy';
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
}







































@font-face{
    font-family:'Gilroy';
    src: url('../fonts/gilroylight.woff') format('woff'),
    url('../fonts/gilroylight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family:'Gilroy';
    src: url('../fonts/gilroyextrabold.woff') format('woff'),
    url('../fonts/gilroyextrabold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
} 

